* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Arimo', sans-serif;
  font-size: 1.8rem;
  padding: 3rem; }

/*
light red #ff2727
red #ff0000
dark red #d60000;
*/
.header {
  color: #f7f7f7;
  background-image: linear-gradient(to right bottom, rgba(255, 39, 39, 0.9), rgba(214, 0, 0, 0.9)), url(hero-img.jpeg);
  background-size: cover;
  height: 95vh;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%); }
  .header__text-box {
    text-align: center; }

.heading {
  letter-spacing: 15.6; }
